@function font-weight($keyword) {
	$conversion-map: (
	  thin: 100,
	  extra light: 200,
      extralight: 200,
	  light: 300,
	  normal: 400,
	  medium: 500,
	  semi bold: 600,
      semibold: 600,
	  bold: 700,
	  ultra bold: 800,
	  ultrabold: 800,
	  heavy: 900,
	);

	@if not map-has-key($conversion-map, $keyword) {
		@error "Unsupported `font-weight` keyword `#{$keyword}`";
        
        @return null;
	}
    
    @return map-get($conversion-map, $keyword);
}