@import '../../styles.scss';

.friendsSuggestion {
  @include themify($themes) {
    .suggestions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      color: themed('textColor');
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      background-color: themed('bg');

      span {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 600;
        color: themed('textColorSoft');
      }

      .suggestion {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        span {
          font-size: 1rem;
          font-weight: 500;
          color: themed('textColor');
        }

        .friends {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: 10px;

          ._btn {
            padding: 0.4rem 0.8rem;
          }
        }
      }
    }
  }
}
