// whites
$white: hsl(0, 0%, 100%);

// blues
$blue-1: hsl(216, 90%, 67%);
$blue-2: hsl(158, 66%, 89%);

// greens
$green-1: hsl(147, 100%, 37%);

// grays
$gray: hsl(202, 21%, 62%);

// oranges

// yellows

// reds
$red-1: hsl(0, 70%, 54%);